
body{
    margin:0px;
    padding: 0px
}


.containerNew3 {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    /* background-color: blue; */
}
#tittle5 {
    
    border: 2px solid #097828;
    border-radius: 16px;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;

    color: #097828;
    

}
#tittle45 {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    
    
    
   
}
.vaitudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height: 800px;

}