@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;


}

.foto {
    margin-bottom: -20%;
    margin-left: 5%;
    height: 50%;
}



.entrada {
    justify-content: space-between;
    align-content: space-between;
    display: flex;
    align-items: center;
    width: fit-content;
    min-width: 80vw;
    min-height: 5vh;
    height: fit-content;
    background-color: rgb(136, 189, 150);
    margin: 2%;
    border-radius: 1vw;
    padding: 4%;
    -webkit-box-shadow: 7px 9px 36px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 9px 36px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 9px 36px -8px rgba(0, 0, 0, 0.75);
}

.topico {
    flex: 1;
    font-size: 2vh;
}

.todas {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.total {
    font-size: 2vh
}