* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.tudo {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    
}

.layout {
    width: 1713px;
    height: 704px;

    background: #FFFFFF;
    border: 3px solid #097828;
    border-radius: 45px;
}

.screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    background-color: aqua;
    margin-bottom: 70px;
    width: 100%;



}

.acesso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    height: 89px;
    background: #097828;
}

.usuario {
    margin-left: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.cadastrar {
    margin-right: 90px;
}

#evento {
    width: 263px;
    height: 68px;

    background: #097828;
    border: 3px solid #FFFFFF;
    border-radius: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

    transition: all 400ms ease;
}

#evento:hover {
    background: 0, 0, 0, 0 #36a555;
}

#icone {
    font-size: 65px;
    color: #FFFFFF;
    background: #097828;
    border: 0;
    margin-right: 10px;
    border-radius: 50%;

}

#icone:hover {
    background: 0, 0, 0, 0 #36a555;
}