* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.visualização {

}
.tudoaqui {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.ever {
    width: 70vw;
    height: 80vh;
    background-color: #0d9e36;
    border: 3px solid #000000;
    border-radius: 45px;
    display: flex;
    flex-direction: initial;
   
}

.screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    background-color: aqua;
    margin-bottom: 5vh;
    width: 100%;
}

.acesso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    height: 89px;
    background: #097828;
}

.usuario {
    margin-left: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.cadastrar {
    margin-right: 90px;
}

#evento {
    width: 263px;
    height: 68px;
    background: #097828;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    transition: all 400ms ease;
}

#evento:hover {
    background: 0, 0, 0, 0 #36a555;
}

#icone {
    font-size: 65px;
    color: #FFFFFF;
    background: #097828;
    border: 0;
    margin-right: 10px;
    border-radius: 50%;
}

#icone:hover {
    background: 0, 0, 0, 0 #36a555;
}

.evento {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 109px;
    /* background: blue; */
    border: 3px solid #097828;
    border-radius: 21px;
}

.cards {
    height: 100%;
    width: 100%;
    /* background-color: #097828; */
    margin-left: 80px;
    
}


.pesquisar {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-left: 20%;
    
    clip-path: inset(0 round 45px);
}

.pesquisar::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}
.pesquisar::-webkit-scrollbar:horizontal {
    height: 5%; /* Altura da barra de rolagem horizontal */
}

/* Fundo da barra de rolagem (trilha) */
.pesquisar::-webkit-scrollbar-track {
    background: transparent; /* Deixa a trilha transparente */
}

/* Botão da barra de rolagem */
.pesquisar::-webkit-scrollbar-thumb {
    background: #888; /* Cor do botão da barra de rolagem */
    border-radius: 10px;
}

/* Botão da barra de rolagem ao passar o mouse */
.pesquisar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do botão ao passar o mouse */
}

/* ul {
    background-color: #097828;
    width: 900px;
    height: 100px;
    display: inline-flex;
} */


/* .ulCard  {
    width: 65%;
    
} */

.liCard {
    width: 35%;
    height: 25vh;
    margin: 0;
    /* border: 1px solid red; */
    display: flex;
    margin-right: 10%;
    /* background: #999; */
    overflow: hidden;
}

.teste {
    text-align: 'center';
    overflow: 'hidden';
    text-overflow: 'ellipsis';
}


.espaço {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    overflow: 'hidden';
    text-overflow: 'ellipsis';
    width: 100%;
    height: 50%;
    align-items: center;
}



.liCard:nth-child(odd) {
    float: left;
}

#botaoCard {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: 3px solid #000000;
    color: #097828;
    transition: all 400ms ease;
}

#botaoCard:hover {
    background: 0, 0, 0, 0 #36a555;
}

.tituloEvento {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 3vh;
    margin-bottom: 10vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
}

@media(max-width: 820px) {

    .tudoaqui {
        display: none;
    }

    .phonediv {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }

    .headerdivp {
        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
    }

    .buttonhome2 button {
        min-height: 10vh;
        min-width: 20vw;
        padding: 5%;
        box-sizing: border-box;
        background: #097828;
        border: 3px solid #FFFFFF;
        border-radius: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        transition: all 400ms ease;
        box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
    }

    .titulinho {
        font-family: 'Poppins';
        font-size: 3vh;
        color: #097828;
        text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.171);
    }

    .cardEvento {
        margin-top: 3vh;
        width: fit-content;
        min-width: 60vw;
        max-width: 60vw;
        min-height: 10vh;
        height: fit-content;
        background-color: #FFFFFF;
        border: 2px solid rgba(0, 0, 0, 0.02);
        border-radius: 16px;
        align-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
        margin-bottom: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .TextCardEv {
        font-family: 'Poppins';
        text-align: center;
        color: #097828;
        height: 100%;
    }
}

@media(min-width: 820px) {
    .phonediv {
        display: none;
    }
}